beautifulsoup4==4.6.0
certifi==2018.4.16
chardet==3.0.4
cycler==0.10.0
Django==2.2.24
html5lib==1.0.1
idna==2.6
kiwisolver==1.0.1
matplotlib==2.2.2
numpy==1.14.3
Pillow==5.1.0
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.4
requests==2.18.4
six==1.11.0
tornado==5.0.2
urllib3==1.22
webencodings==0.5.1
wordcloud==1.4.1
